.DS_Store
.idea
.vscode
base/common/build/lib/*
cspca.crt
node_modules/*
package.json
package-lock.json
base/wheelhouse/wheelhouse/*
base/api/packaged-api-lambda.zip
base/common/*.egg-info/*
base/common/build/*
base/common/lambda/*
base/common/cache/*
base/common/dist/*
__pycache__
.pytest_cache
.venv
*.egg-info
autodocs/build/*
autodocs/source/_autosummary/*
tahoe_infrastructure/custom_env/*.json
tahoe-cli/build/*
